.select_time_picker{
	display: inline-block;
	padding: 5px 34px 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	background-color: #fff;
	border: 1px solid #dddbda;
	border-radius: .25rem;
	transition: border .1s linear,background-color .1s linear;
	height: calc(1.875rem + (1px * 2));
}
.maintain_hour_icon{
	position: absolute;
	left: 61px;
	top: 8px;
}

.errors{
    color: red;
    margin-top: 20px;
    margin: 20px 20px;
    font-size: 15px;
    list-style-type: decimal;
    font-family: "Salesforce Sans",Arial,sans-serif;
}